/* IE6 css fixer v0.95: Thu, 29 Sep 2011 16:14:14 +0200 */

/* ============================================= */
/* safe settings                                 */

/* add display:inline to floated elements */

#container,
#header h2#logo,
form.search,
#shortlinks ul,
#shortlinks ul li,
#main-menu,
ul.dropdown li,
div#menu ul.menu,
div#menu ul.menu li,
.grid-3,.grid-4,.grid-8,.grid-9,
.grid-overview-3,.grid-overview-5,
li .thumb,
.perc-60,.perc-40,.perc-50,
#slider-content,
#content #slider-nav,
#slider-nav img,
#content #slider-content-page .page,
.doormat .column,
#content .examples ul li,
.box .thumb,
.box .text,
#content ul.gallery li,
#content .doormat-page li {display:inline;}


/* fix negative margins */
#container,
#slider-nav p {position:relative; zoom:1;}

/* add zoom:1 to overflow:hidden */
#header h2#logo,
.grid,
#slider,
#slider-content,
#content #slider-nav li,
#content #slider-nav li a span,
#content #slider-content-page,
#content .examples ul,
.news li,
#doormat-country ul,
#content ul.gallery,
#content .doormat-page,
#content .doormat-page li {zoom:1;}

/* add zoom:1 to pos:relative elements */
#header,
ul.dropdown,
ul.dropdown li.hover,
ul.dropdown li:hover,
div#menu ul.menu li,
div#menu ul.menu a,
#slider-content .item,
#slider-content #item1,
#slider-content #item2,
#slider-content #item3,
#slider-content #item4,
#slider-content #item5,
#content #slider-nav li a,
a.button span,
#secondary a.button span,
a.download span,
ul.breadcrumbs {zoom:1;}

/* add transparancy */
ul.dropdown ul.sub_menu {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);}


/* add zoom:1; display:inline; to inline-block elements */
a.readmore,
ul.dropdown ul.sub_menu li a,

#content #slider-nav-page li {zoom:1; display:inline;}

/* add overflow:visible to (submit) buttons */
 input, button {overflow:visible;}
 
 /* custom */
 
 .triangle {display: none;}
 
/* #content #slider-nav li a {height: 82%; } */
 a.download {color: white !important;}
 
 .sidebar .navigation ul li ul {margin: 0;}
 .sidebar .navigation ul li ul a {display: inline-block;}

  #primary.clearfix, #secondary.clearfix { height: auto;  }
  
  ul.dropdown ul.sub_menu li, ul.dropdown ul.sub_menu li a {text-align: left !important; display: block;}
 