#slider-nav p {margin-bottom: -2px;}
#slider-nav strong {margin-top: -3px;}
#footer #contact-footer p {margin: 2px 0 0 8px;}
#footer .colophon p {margin-top: 2px;}
.inner-content h1 {font-size: 1.95em;}

#ActionChain li { position: absolute; }
/* #content #slider-nav li a {height: 82%; } */

#step1 td:first-child + td a { margin: 0px; }
h1 { margin-top: 30px; padding-top: 20px; }
.dk_container { margin-top: 0px; }
.tableIE7 {
    margin-top: -40px;
}